.container {
  background: linear-gradient(to bottom right, darkslateblue, pink);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 300px;
  min-width: 100vw;
}

.text {
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 5px 40px;
  padding: 5px;
  height: 60px;
}

.button {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: auto 20px;
  width: 100px;
}
