<div class="box">
  <div class="text">
    <span>请放入肉类: </span>
    <input type="text" [(ngModel)]="meat">
  </div>

  <div class="text">
    <span>请放入青菜: </span>
    <input type="text" [(ngModel)]="veggie">
  </div>

  <div class="text">
    <button class="btn btn-light" (click)="cook()" style="margin-right: 10px"> 请开始你的表演!  </button>
    <button class="btn btn-light" (click)="reset()" style="margin-right: 10px"> 妈妈我还想做菜!  </button>
  </div>

  <div *ngIf="isCooked" class="informBoxBoarder"> 欢迎品尝{{ dish }}~ </div>
  <div *ngIf="badDish" class="informBoxBoarder"> 广东人表示今天不想吃{{ dish }}! </div>
</div>
