.box{
  background-color: transparent;
  color: white;
  text-align: center;
  width: 400px;
  height: 200px;
}

.text {
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 5px 40px;
  padding: 5px;
  height: 60px;
}


